:root{
    --white: #fff;
    --black: #000;
    --gray: #b2bec3;
    --l-gray: #eee;
    --dark-gray: #5D6D7E;
    --v-dark-gray: #2d3436;
}

body {
    overflow-x: hidden;
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--black);
}

/* nav  */

nav {
    width: 100%;
    z-index: 999;
}

nav .nav-logo{
    width : 9vw;
}
@media screen and (max-width : 767px)  {
    nav .nav-logo{
        width : 18vw;
    }
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--v-dark-gray);
}

.navbar-light .navbar-nav .active-item  {
    color: var(--v-dark-gray);
}
.navbar-light .tog{
    color: #5D6D7E;
    border: none;
    transition: 0.6s;
}

/**Home**/

.home{
    background-image: url('../img/programer-coding-laptop-sitting-down-desk-with-computer-screens-parsing-code-software-agency-software-developer-compiling-algorithms-with-cloud-programers-working-background\ 1.png');
    height: 80vh;
    background-size: cover;
    background-position-y: center;
    margin: 0;
} 
.inner-opacity{
    clip-path: polygon(0 0, 65% 0, 39% 100%, 0% 100%);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.sec-inner-opacity{
    clip-path: polygon(0 0, 62% 0, 36% 100%, 0% 100%);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.home-text{
    padding: 8rem 3rem;
    width: 50%;
}
@media (max-width: 1100px) and (min-width:999px){
    .home .home-text{
        padding: 4rem 3rem;
    }    
}   
@media (max-width: 998px) and (min-width:700px){
    .home .home-text{
        padding: 3rem 3rem;
    } 
    
}
@media (max-width: 767px) and (min-width:425px){
    .home{
        height: 56vh;
    } 
    .home .home-text{
        padding: 1.5rem 3rem;
        font-size: smaller;
    }
    .home .home-text h1{
        font-size: small;
    }  
    .home .home-text p{
        font-size: smaller !important;
    } 
    .inner-opacity{
        clip-path: polygon(0 0, 75% 0, 45% 100%, 0% 100%);
    }
    .sec-inner-opacity{
        clip-path: polygon(0 0, 70% 0, 40% 100%, 0% 100%);
    }
}   
@media (max-width:424px) and (min-width:300px){
    .home{
        height: 35vh;
    }
    .home .home-text{
        padding: 1rem 3rem;
        font-size: smaller;
    }
    .home .home-text h1{
        font-size: x-small;
    }  
    .home .home-text p{
        font-size: xx-small !important;
    } 
    .inner-opacity{
        clip-path: polygon(0 0, 75% 0, 45% 100%, 0% 100%);
    }
    .sec-inner-opacity{
        clip-path: polygon(0 0, 70% 0, 40% 100%, 0% 100%);
    }
}
/*****back to top button****/
.back-top-btn{

    position: fixed;
    font-size: 2em;
    background-color: #5D6D7E;
    color:#fff;
    border-radius: 50%;
    padding: 7px;
    right: 1%;
    bottom: 1%; 
    cursor: pointer;
    display: none;
    transition: 0.5s;
    z-index: 999;
}
.back-top-btn:hover{
    background-color:var(--v-dark-gray);
}
/******about*****/

#about{
    margin-top: 7%;
    background-color:var(--white);
    padding: 10px;
}
  
.about-img img {
    margin-top: 20%;
    width: 100%;
    position: relative;
}
.about-us-descrip .about-title{
    width: 152px;
    height: 76px;
    border-radius: 50% / 50%;
    border: 1px solid var(--dark-gray);
    transform: translate(124%, -29%) rotate(21deg)
}
.about-us-descrip{
    margin-bottom: 3%;
}

.about-us-descrip p{
    color: var(--dark-gray);
    margin-top: 7%;
}
@media screen and (min-width : 767px) {
    .about-img img {
        margin-top: 30%;
    }  
}   
@media screen and (max-width : 1440px) and (min-width : 991.1px) {
    .about-img img {
        margin-top: 25%;
    } 

}
@media screen and (min-width : 1440px) {
    .about-us-descrip .about-title{
        transform: translate(154%, -30%) rotate(21deg);
    }  
} 
/* @media screen and (max-width : 1440px) and (min-width : 1200px) {
    .about-us-descrip .about-title{
        height: 81px;
        transform: translate(100%, -30%) rotate(21deg);
    } 
} */
@media screen and (max-width : 1024px) and (min-width : 999.1px) {
    .about-us-descrip .about-title{
        height: 81px;
        transform: translate(94%, -30%) rotate(21deg);
    } 
}
 
@media screen and (max-width : 999px) and (min-width : 768px) {
    .about-us-descrip .about-title{
        width: 124px;
        height: 68px;
        transform: translate(80%, -26%) rotate(17deg);
    } 
}
@media screen and (max-width : 767px) and (min-width : 400px ) {
    .about-us-descrip .about-title{
        width: 125px;
        height: 62px;
        transform: translate(102%, -24%) rotate(18deg);
    }   
} 
@media screen and (max-width : 375px) and (min-width : 340px ) {
    .about-us-descrip .about-title{
        width: 118px;
        height: 55px;
        transform: translate(87%, -25%) rotate(15deg);  
    }   
} 
@media screen and (max-width : 340px)  {
    .about-us-descrip .about-title{
        width: 114px;
        height: 62px;;
        transform: translate(69%, -26%) rotate(18deg);
    }   
} 
/*--Companies--*/

.companies {
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url(../img/group-diverse-people-having-business-meeting\ 1.png);
    background-size: cover;
    background-position-y: center;
    height: 85vh;
    position: relative;

}  
.opa{
    height: 100%;
    width: 100%;
    background-color: rgba(156, 154, 154, 0.5);
    position: absolute;
}
.companies-title{
    margin-bottom: 3vh;
    margin-top: 10vh;
}
.companies-title .companies-title-circle{
    width: 275px;
    height: 111px;
    border-radius: 50% / 50%;
    border: 1px solid var(--v-dark-gray);
    transform: translate(191%, -32%) rotate(-15deg);
}

.company {
    text-align: center;
    background-color:var(--white);
    padding: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
} 
.company a {
    color: #5D6D7E;
    font-size: 1em;
}
.company img {
    width: 10vw;
}
.company .com-img{
    margin-bottom: 4vh;
}
.company h6 {
    /* font-size: small; */
    margin-bottom: 2em;
}
.col-twin{
    width: 20% !important;
}
@media screen and (max-width:767px){
    .companies {
        height: 145vh;
    } 
    .col-twin{
        width: 80% !important;
    }   
    .company .com-img {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .company {
        margin-top: 2em;
        padding: 5%;
    } 
    .company img {
        width: 20vw;
    }
}
@media screen and (min-width : 1440px) {
    .companies-title .companies-title-circle{
        transform: translate(206%, -32%) rotate(-15deg);
    } 
}  

@media screen and (max-width : 1024px) and (min-width : 999.1px) {
    .companies-title .companies-title-circle{
        z-index: 999;
        width: 275px;
        height: 111px;
        transform: translate(131%, -32%) rotate(-15deg);
    } 
    .companies-title {
        margin-bottom: 20vh;
        margin-top: 10vh;
    }
}
@media screen and (max-width : 999px) and (min-width : 768px) {
    .companies-title .companies-title-circle{
        width: 265px;
        height: 104px;
        transform: translate(89%, -32%) rotate(-16deg)
    }
    .companies-title {
        margin-bottom: 16vh;
        margin-top: 10vh;
    }
}
@media screen and (max-width : 767px) and (min-width : 400px ) {
    .companies-title .companies-title-circle{
        width: 263px;
        height: 83px;
        transform: translate(26%, -32%) rotate(-15deg);
    }   
} 
@media screen and (max-width : 375px) and (min-width : 340px ) {
    .companies-title .companies-title-circle{
        width: 218px;
        height: 81px;
        transform: translate(31%, -32%) rotate(-15deg)
    }   
} 
@media screen and (max-width : 340px)  {
    .companies-title .companies-title-circle{
        width: 203px;
        height: 85px;
        transform: translate(22%, -32%) rotate(-15deg)
    } 
}
/*------Founders-----*/
.main-bottom-section{

}
.bottom-section{
    background-color: #eee;
    background-image: url('../img/4873152\ 4.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
.founder {
    margin-top: 3%;
    margin-bottom: 9%;
    text-align: center
}
.founders-title .founders-title-circle{
    width: 174px;
    height: 88px;
    border-radius: 50% / 50%;
    border: 1px solid var(--dark-gray);
    transform: translate(270%, 44%) rotate(-15deg)
}
@media screen and (min-width : 1440px) {
    .founders-title .founders-title-circle{
        transform: translate(322%, 46%) rotate(-15deg);
    } 
}  

@media screen and (max-width : 1024px) and (min-width : 999.1px) {
    .founders-title .founders-title-circle{
        transform: translate(220%, 38%) rotate(-15deg);
    }   
}
@media screen and (max-width : 999px) and (min-width : 768px) {
    .founders-title .founders-title-circle{
        width: 143px;
        height: 82px;
        transform: translate(193%, 38%) rotate(-16deg);
    }
}
@media screen and (max-width : 767px) and (min-width : 400px ) {
    .founders-title .founders-title-circle{
        width: 143px;
        height: 82px;
        transform: translate(88%, 27%) rotate(-15deg)
    }   
} 
@media screen and (max-width : 375px) and (min-width : 340px ) {
    .founders-title .founders-title-circle{
        width: 129px;
        height: 65px;
        transform: translate(87%, 47%) rotate(-15deg);
    }   
} 
@media screen and (max-width : 340px)  {
    .founders-title .founders-title-circle{
        width: 140px;
        height: 75px;
        transform: translate(55%, 33%) rotate(-15deg)
    } 
}
.founders h2{
    text-align: center;
    color: var(--dark-gray);
    margin-bottom: 3%; 
    padding-top: 2em;   
}

.founder-icon {
    /* font-size: 3em; */
    text-align: center;
    width: 17vw;
    margin: auto;
}
.founder-icon img{
    width: 15vw;
    border:2px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.founder h6 {
    text-align: center;
    color: #000;
    font-size: 1.3em;
    padding-bottom: 3%;
    transition: 0.5s;
    padding-top: 1.4em;
}

.founder p{
    margin-top: 7%;
}

@media screen and (max-width:767px){
    .founder-icon {
        margin: 0;
    }
    nav{
        width: 100vw;
    }
    .founder{
        text-align: start;
    }
    .founder-icon img{
        width: 25vw;
        border:2px solid rgba(0, 0, 0, 0.15);
        padding: 10px;
    }
    .founder-icon img{
        width: 22vw;
        border:2px solid rgba(0, 0, 0, 0.15);
        padding: 10px;
    }
    .founder p {
        font-size: small;
        margin-top: 0;
    }
    .founder h6  {
        text-align: start;
        font-size: large;
        margin-bottom: 0;
    }
}
.contact-title .contact-title-cirlce{
    width: 176px;
    height: 90px;
    border-radius: 50% / 50%;
    border: 1px solid var(--gray);
    transform: translate(78%, -28%) rotate(18deg)
}
@media screen and (min-width : 1440px) {
    .contact-title .contact-title-cirlce{
        transform: translate(100%, -28%) rotate(18deg)

    }  
} 
@media screen and (max-width : 1024px) and (min-width : 999.1px) {
    .contact-title .contact-title-cirlce{
        transform: translate(56%, -28%) rotate(18deg)

    } 
}
 
@media screen and (max-width : 999px) and (min-width : 768px) {
    .contact-title .contact-title-cirlce{
        width: 155px;
        height: 75px;
        transform: translate(39%, -26%) rotate(15deg)
    } 
}
@media screen and (max-width : 767px) and (min-width : 400px ) {
    .contact-title .contact-title-cirlce{
        width: 145px;
        height: 65px;
        transform: translate(64%, -24%) rotate(15deg)
    }   
} 
@media screen and (max-width : 375px) and (min-width : 340px ) {
    .contact-title .contact-title-cirlce{
        width: 145px;
        height: 65px;
        transform: translate(50%, -24%) rotate(15deg);  
    }   
} 
@media screen and (max-width : 340px)  {
    .contact-title .contact-title-cirlce{
        width: 145px;
        height: 65px;
        transform: translate(34%, -22%) rotate(16deg);
    }   
} 

/********contact-us*******/
.contact-us{
    margin-top: 7%;
    margin-bottom: 7%;
}

.contact-us h2{
    text-align: center;
    color: var(--dark-gray);
    margin-bottom: 5%;
} 

/***********form*********/
.contact-us-form{
    
    justify-content: space-between;
    margin-top: 5%;
    transition: 0.5s;
}

.contact-us-form:hover{
    box-shadow: 0px 0 30px rgba(84, 98, 110, 0.5);
}

.contact-us-form input ,.contact-us-form .form-message , textarea{
    width: 100%;
    height: 8vh;
    padding: 3%;
    margin-top: 2%;
}
textarea{
    height: auto;
}
.contact-us-form .form-message{
    height: 98px;
    
}
.error {
    border: 2px solid #dc4545;
}
.correct {
    border: 2px solid #198754;
}
.error-name, .error-email, .error-subject, .error-messege {
    color:  #dc4545;
    display: none;
}
.contact-us-form .send{
    justify-content: center;
    text-align: center;
}

.contact-us-form .send button{
    border: none;
    background-color: var(--v-dark-gray);
    margin-top: 7%;
    margin-bottom: 9%;
    color:var(--white);
    width: 100%;
    height: 6vh; 
    transition: 0.5s;
}

.contact-us-form .send button:hover{

    background-color:var(--black);        
}


/*******footer*****/
footer{
    background-color: var(--black);
    border-top: 1px solid var(--blue-gray);
    border-bottom: 1px solid var(--blue-gray);
    margin-top: 5%;
    color:var(--white);
}


footer .footer-logo img{
    width: 20vw;
}

footer .contact ul , footer .follow ul {
    list-style: none;
    padding: 0;
}
footer .contact,  footer .follow {
    margin: auto;
}
footer .contact  a , footer .follow  a {
    color:#fff;
    font-size: 1.2em;
    transition: 0.4s;
}
footer .contact  a:hover , footer .follow  a:hover {
    color: #5D6D7E;
    
}

footer .contact  i , footer .follow  i {
    color: #fff;
    padding-right: 5%;
}
footer .follow {
    padding-top: 2rem;
}

footer .copyright{
    margin: 0 2% 2% 2%;
    text-align: center;
}

footer .copyright a{
    color: #fff;
}
@media (max-width: 767px) {
    footer .footer-logo img{
        width: 30vw !important;
    }
    footer h4{
        font-size: small  !important;
    }
    footer a , .copyright{
        font-size: smaller  !important;
    } 
    footer .follow {
        padding-top: 0rem;
        display: none;
    }
} 